:root{
    --backgroundColor: #440220;
    --fontFamily: 'Popins', sans-serif;
    --buttonsColor: #d74950;
    --hoverTransition: 0.4s;
}



/* --------- GLOBAL STYLES ---------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
    font-family: var(--fontFamily);
    color: white;
    font-size: 20px;
}

body{
    padding: 30px 50px;
}



/* --------- NAVIGATION BAR STYLING ---------- */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navlinks li{
    list-style: none;
}

.navlinks ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    font-size: 22px;
    color: var(--buttonsColor);
    transition: var(--hoverTransition);
}



    /* --------- NAVIGATION BUTTONS ---------- */
.navbuttons{
    display: flex;
    gap: 15px;
}
.navbuttons button, .hero-section button{
    border: 3px solid white;
    padding: 3px 10px;
    border-radius: 22px;
    font-size: 30px;
}

.navbuttons .start-for-free, .hero-btns .start-product-tour{
    border-color: var(--buttonsColor);
    background-color: var(--buttonsColor);

}

.navbuttons button:hover{
    cursor: pointer;
}
.start-for-free:hover{
    border: 3px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: var(--hoverTransition);
}

.book-demo:hover{
     border-color: var(--buttonsColor);
    background-color: var(--buttonsColor);
    cursor: pointer;
    transition: var(--hoverTransition);
}




/* --------- HERO SECTION ---------- */
.hero-section{
    display: flex;
    margin-top: 60px;
}

.hero-header{
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 62px;
    line-height: 1.1;
}

.hero-section p{
    margin-bottom: 40px;
    font-size: 30px;
}



/* --------- HERO BUTTONS ---------- */
.hero-section .hero-btns{
    margin-bottom: 40px;
}


.hero-section .hero-btns{
    font-weight: 700;
    margin-bottom: 40px;
}

.hero-btns{
    display: flex;
    gap: 35px;
}

.hero-btns .start-product-tour:hover{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid white;
    transition:var(--hoverTransition);
}



/* --------- HERO DESCRIPTION & PARTNERS ---------- */
.hero-description{
    font-size: 20px;
}

.partners{
    display: flex;
    gap: 100px;
    margin-top: 40px;
}



